.Player {
  display: flex;
  justify-content: right;
}

.Player__name {
  margin-right: auto;
}

.Player__score {
  margin: 0 12px;
}

.Player__button {
  background-color: crimson;
  color: whitesmoke;
  padding: 6px;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
